pkgbase = bitwarden-electron-bin
	pkgdesc = Bitwarden using system Electron (prebuilt application)
	pkgver = 2026.9.0
	pkgrel = 4
	url = https://github.com/fansion314/bitwarden
	arch = x86_64
	license = GPL-3.0-only
	depends = electron
	depends = bash
	depends = glibc
	depends = libgcc
	depends = hicolor-icon-theme
	depends = libnotify
	depends = org.freedesktop.secrets
	depends = libxtst
	depends = libxss
	depends = libnss_nis
	provides = bitwarden=2026.9.0
	provides = bitwarden-electron=2026.9.0
	conflicts = bitwarden
	conflicts = bitwarden-bin
	conflicts = bitwarden-electron
	noextract = bitwarden-electron-2026.9.0-4-x86_64.tar.zst
	options = !strip
	options = !debug
	source = https://github.com/fansion314/bitwarden/releases/download/v2026.9.0-4/bitwarden-electron-2026.9.0-4-x86_64.tar.zst
	sha256sums = f4bff7bee477afe64a5aaac98878d33ce35e2d1690f9d6694845be51c2bb2d4e

pkgname = bitwarden-electron-bin
